alabaster==0.7.12
anyio==3.5.0
apparmor==3.0.4
appdirs==1.4.4
arandr==0.1.10
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciidoc==10.1.4
asciinema==2.1.0
asttokens==2.0.5
async-generator==1.10
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
blis==0.7.7
bottle==0.12.19
bs4==0.0.1
btrfsutil==5.16.2
CacheControl==0.12.6
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.4
cmdw==0.26
colorama==0.4.4
configobj==5.1.0.dev0
configparser==5.2.0
configset==1.41
contextlib2==0.6.0.post1
cryptography==36.0.2
cssselect==1.1.0
cupshelpers==1.0
cymem==2.0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docopt==0.6.2
docutils==0.16
entrypoints==0.4
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.2.0/es_core_news_sm-3.2.0-py3-none-any.whl
executing==0.8.3
fake-useragent==0.1.11
greenlet==1.1.2
gufw==21.4.0
html5lib==1.1
httplib2==0.20.3
i3ipc==2.2.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.1
ipykernel==6.9.2
ipython==8.1.1
ipython_genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-packaging==0.11.1
jupyter-server==1.15.6
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.11.2
keyutils==0.6
langcodes==3.3.0
lensfun==0.3.3
LibAppArmor==3.0.4
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
lit==13.0.1.dev0
louis==3.21.0
lxml==4.8.0
make-colors==3.32
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
meson==0.62.0
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.3
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
neovim==0.3.1
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nltk==3.7
notebook==6.4.10
notebook-shim==0.1.0
numpy==1.22.3
openshot-qt==2.6.1
ordered-set==4.0.2
packaging==20.9
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.2
pathspec==0.9.0
pathtools==0.1.2
pathy==0.6.1
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
ply==3.11
powerline-status==2.8.2
preshed==3.0.6
progress==1.6
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
pybind11==2.9.1
pycairo==1.21.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.0
pydantic==1.8.2
pydebugger==0.36
pyee==8.2.2
Pygments==2.11.2
PyGObject==3.42.0
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyppeteer==1.0.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquery==1.4.3
pyrsistent==0.18.1
python-dateutil==2.8.2
python-xapp==2.2.1
python-xlib==0.31
pytz==2022.1
pywal==3.3.0
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
regex==2022.3.15
requests==2.27.1
requests-html==0.10.0
requests-unixsocket==0.3.0
resolvelib==0.5.5
retrying==1.3.3
scour==0.38.2
Send2Trash==1.8.0
setproctitle==1.2.2
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
speedtest-cli==2.1.3
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.2
stack-data==0.2.0
TBB==0.2
team==1.0
terminado==0.13.3
testpath==0.5.0
thinc==8.0.15
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.1.0
udiskie==2.4.2
ufw==0.36.1
urllib3==1.26.9
validate==5.1.0.dev0
variety==0.8.5
w3lib==1.22.0
wasabi==0.9.0
watchdog==0.10.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.2
widgetsnbextension==3.6.0
youtube-dl==2021.12.17
zipp==3.7.0
